body{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: #343a40;
    align-items: center;
}

#check{
    display: none;
}

.checkbtn{
    background-color: #07dbf7;
    padding: 10px 30px;
    border-radius: 5px;
}
.celc{
    font-weight: bold;
}
/* .med{
    display: inline-block;
} */
.desc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.desc h2{
    margin-bottom: 5px;
    font-size: 40px;
}
.desc h4{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
}
.desc h1{
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 0;
}

.other{
    background-color: #343a40;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    padding: 30px 100px;
    place-items: center center;
    text-align: center;
}

.other div{
    margin-bottom: 30px;
}

.other div h4{
    color: rgb(141, 141, 137);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
}

@media (max-width: 950px){
    header{
        flex-direction: column;
        padding: 20px 10px;
        align-items: center;
        justify-content: center;
    }
    header label{
        margin-top: 20px;
    }

    .other{
        padding: 20px 10px;
        grid-template-columns: 1fr 1fr;
    }
}